/* 
Grid System : for child 
    - 
*/

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 500px;
    margin: 20px auto;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-columns: auto repeat(2, 1fr);
    grid-template-columns: minmax(200px, 400px) repeat(2, 1fr);
    grid-template-columns: minmax(200px, 600px) repeat(2, 500px);
    grid-template-columns: repeat(7, 200px);
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

.container>div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* 
minmax() plus fort que fraction 
*/