/* using only grid-column and grid-row */
* {
    box-sizing: border-box;
}

.container {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container>div {
    background-color: #2196f3;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div:nth-child(1) {
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
}

.container>div:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.container>div:nth-child(5) {
    grid-row: 3 / span 3;
    grid-column: 2 / span 2;
}

.container>div:nth-child(8) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}