body {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
inheritance or inherit
*/

div {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: 20px;
    border: 2px solid red;
}

div h3 {

    border: 2px solid;
    border-color: inherit;
}

div p {
    border: inherit;
    border-color: blue;
    padding: inherit;
}