* {
    box-sizing: border-box;
}

:root {
    --main-spacing: 20px;
}

body {
    margin: 0;
}

.gallery {
    border: 1px solid black;
    padding: var(--main-spacing);
    padding-bottom: 0;
}

.gallery .cell {
    width: 100%;
    margin-bottom: var(--main-spacing);
}

.gallery .cell img {
    max-width: 100%;
}

/* Small Devices */
@media(min-width:601px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery .cell {
        flex-basis: calc((100% - var(--main-spacing)) / 2);
    }
}

/* Medium Devices */

@media(min-width:992px) {
    .gallery .cell {
        flex-basis: calc((100% - (var(--main-spacing)*2)) / 3)
    }
}

/* Large Devices */

@media(min-width:1200px) {
    .gallery .cell {
        flex-basis: calc((100% - (var(--main-spacing)*3)) / 4)
    }
}