* {
    box-sizing: border-box;
}

form {
    background-color: #eee;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 10px;
}

form input[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    opacity: 0.8;
}

form input[type="submit"]:hover {
    opacity: 1;
}

form>div:last-of-type {
    align-self: flex-end;
}

form>div:not(:last-of-type) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form>div:not(:last-of-type) label {
    flex-shrink: 0;
}

form>div:not(:last-of-type) input {
    flex: 1;
}

@media (max-width:575px) {
    form>div:not(:last-of-type) {
        flex-direction: column;
    }

}