.parent {
    background-color: #f0f0f0;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 60px auto;
    text-align: center;
    /* transition: margin-top, 2s, ease-in-out; */
    transition: margin-top 0.5s ease-in-out;
}

.child {
    background-color: #b4b4b4;
    padding: 20px 0;
    transition: margin-top 0.5s 0.5s ease-in-out;
}

.parent:hover {
    margin-top: 20px;
}

.parent:hover .child {
    margin-top: 40px;

}