.box {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 100px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    transition: top 2s, left 2s;
}