body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: red;
    width: 100px;
    height: 100px;
    transition: width 1s, height 1s, transform 1s;
    /* transition-duration: 1s;
    transition-property: width, height, transform; */
}

div:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}