/* 
!important => ya3ni had property rah mohima bi nissba li and i used for overreding  a specific  property of specific element fi ay position kan fih
*/
p {
    color: green !important;
}

/* p {
    color: green;
} */

p {
    color: blue;
}


div {
    width: 400px;
    margin: auto;
    background-color: #f0f0f0 !important;
    border: none !important;
    font-size: 20px !important;
    color: black !important;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

div::before {
    content: "Hello Youssef";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0;
}