.parent {
    margin: 0 0 40px;
}

.container-1,
.container-2 {
    border: 2px solid blue;
    padding: 20px 0;
}

.child-container-1,
.child-container-2 {
    width: calc((100% - 60px)/2);
    margin-left: 20px;
}

.child-container-1 {
    float: left;
}

.child-container-2 {
    float: right;
}

.container-1 p {
    margin: 0 0 0 20px;
}

.container-2 p {
    margin: 0 20px 0 20px;
}



.container-3 {
    background-color: dodgerblue;
    padding: 20px 0;
}

.container-3 .child {
    background-color: #787878;
    float: left;
    width: calc((100% - 60px) / 2);
    margin-left: 20px;
    text-align: center;
    padding: 10px 0;

}

.container-3 .child .first-sub-child,
.container-3 .child .second-sub-child {
    background-color: #f0f0f0;
    float: left;
    width: calc((100% - 40px)/3);
    margin-left: 10px;
    padding: 10px 0;
}

.container-4 img {
    height: 200px;
    width: 200px;
    float: right;
}

.container-5 img {
    width: 200px;
    height: 200px;
    float: left;
}

.container-6 img {
    width: 200px;
    height: 200px;
    float: none;
}

.container-6 p {
    margin: 0;
}

.clear {
    clear: both;
}