.container-1,
.container-2,
.container-3 {
    margin: 0 0 40px;
}

.container-1 .first-div {
    border: 1px solid green;
    float: left;
    padding: 10px;
}

/* clear: both; */
.clear-left {
    /* clear: left; */
    clear: both;

}

.container-1 .second-div {
    border: 1px solid red;
    padding: 10px;

}

.container-2 .first-div {
    border: 1px solid green;
    float: right;
    padding: 10px;

}

/* clear: both; */
.clear-right {
    clear: right;
    clear: both;

}

.container-2 .second-div {
    border: 1px solid red;
    padding: 10px;

}

.container-3 {
    border: 2px solid red;
    overflow: auto;
}

.container-3 p {
    /* border: 2px solid red */
    padding: 10px;
}

.container-3 img {
    height: 200px;
    width: 200px;
    float: right;
}