body {
    min-height: 5000px;
}

a {
    /* display: block; */
    background-color: dodgerblue;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    position: fixed;
    right: 0;
    bottom: 10px;
    display: none;
}

a i {
    color: white;
    font-size: 20px;
}