* {
    box-sizing: border-box;
}

.container .card {
    background-color: white;
    border: 0.2px solid gray;
    margin-bottom: 20px;
    border-radius: 7px;
}

.container .card:hover {
    box-shadow: 0 0 0 1px black;
}

.container .card .card-img img {
    max-width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}

.container .card .card-info {
    padding: 20px;
    text-align: center;
}

.container .card .card-info p {
    font-size: 20px;
}

@media(min-width:576px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .container .card {
        flex-basis: calc((100% - 20px) / 2);
        margin: 0;
    }

}

@media(min-width:992px) {
    .container .card {
        flex: 1;
    }
}