* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container div {
    width: 30%;
    border: 2px solid red;
}

.container div>img {
    width: 100%;
    height: 100%;
}

/* Using Filter opacity */

.container div:nth-child(1) {
    /* filter: opacity(20%); */
    filter: opacity(0.2);
}

.container div:nth-child(2) {
    /* filter: opacity(50%); */
    filter: opacity(0.5);
}

.container div:nth-child(3) {
    /* filter: opacity(100%); */
    filter: opacity(1);
}


/* Using property opcity */

.container div:nth-child(1) {
    opacity: 0.2;
}

.container div:nth-child(2) {
    opacity: 0.5;
}

.container div:nth-child(3) {
    opacity: 1;
}