/* 
2D Transform
Rotate
    - syntax : transform:rotate(angle);
    - angle[ deg , tur , rad , grad .... ] but most using is  deg or turn
    - deg => degree
    - turn => turn 
        - 360deg = 1turn 
        - 270deg = 0.75turn 
        - 180deg = 0.5turn 
        - 90deg = 0.25turn 
        - 45deg = 0.125turn 
    - default value is transform:rotate(0deg);
    - if angle is positive => rotation following clockwise , if angle is negative => rotation oposite of clockwise


*/

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    background-color: #787878;
}

.container>div {
    width: 90%;
    height: 90%;
    background-color: rgba(238, 147, 147, 0.764);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    position: relative;


    /* transform-origin: 50% 50%; */
    /* transform: rotate(0deg);
    transform: rotate(45deg);
    transform: rotate(90deg);
    transform: rotate(180deg);
    transform: rotate(270deg);
    transform: rotate(360deg);
    transform: rotate(0turn);
    transform: rotate(0.125turn);
    transform: rotate(0.25turn);
    transform: rotate(0.5turn);
    transform: rotate(0.75turn);
    transform: rotate(1turn); */

    /* transform: rotate(-45deg); */

    /* transform-origin: 0% 0%;
    transform: rotate(45deg); */


    transform-origin: 100% 100%;
    transform: rotate(45deg);


}

.container>div::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    /* top: 50%;
    left: 50%; */

    /* top: 0%;
    left: 0%; */


    right: 0;
    bottom: 0;


    /* transform: translate(-50%, -50%); */
    transform: translate(50%, 50%);


    border-radius: 50%;
}