p {
    background-color: #efefef;
    height: 45px;
    width: 300px;
    margin: 20px auto;
    line-height: 45px;
    padding: 0 55px;
    position: relative;
}

p::before {
    position: absolute;
    counter-increment: members-counter;
    content: counter(members-counter);
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: red;
    color: white;
}

p:after {
    position: absolute;
    content: "";
    background-color: red;
    width: 5px;
    height: 100%;
    top: 0;
    right: -5px;

}