/* 
3D transform
-Backface-Visibility
-Transform-Style
-Flip Product
*/

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 40px auto;
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: 0% 50%;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    /* backface-visibility: visible; */
    backface-visibility: hidden;
}

.card .front {
    background-color: red;
}

.card .back {
    background-color: blue;
    transform: rotateY(180deg);
}

.card:hover {
    transform: translateX(100%) rotateY(-180deg);
    /* transform: translateX(100%) rotateY(180deg); */
}