/* Old method */
.title-article {
    background-color: red;
    color: white;
    padding: 5px;
    display: inline-block;
}

/* New method */
.title-article {
    background-color: red;
    color: white;
    padding: 5px;
    width: fit-content;
}

.description-article {
    border: 1px solid black;
}

.description-article button {
    background-color: dodgerblue;
    display: block;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}