/* 
3D transform  => transformation dans l'espace
Rotate
    - transform:rotateX(angle)=>ratate element following X-axis if angle equal 90 deg element is omited
    - transform:rotateY(angle)=>ratate element following Y-axis if angle equal 90 deg element is omited
    - transform:rotateZ(angle)=>rotate element following Z-axis is sumilar a rotate 2D transform
    - transform:rotate3d(value1, value2, value3, angle)
        - value1 number ( 0 or 1 ) => X-axis
        - value2 number ( 0 or 1 ) => Y-axis
        - value3 number ( 0 or 1 ) => Z-axis

*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    background-color: #eee;
}

.container>div {
    width: 90%;
    height: 90%;
    background-color: rgba(250, 163, 132, 0.5);
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;

    /* transform: rotate(90deg); */
    /* transform: rotate(-90deg); */


    /* transform: rotateX(45deg); */
    /* transform: rotateX(90deg); */
    /* transform: rotateX(180deg); */



    /* transform: rotateY(45deg); */
    /* transform: rotateY(90deg); */
    /* transform: rotateY(180deg); */



    transform: rotateZ(90deg);
    transform: rotateZ(-90deg);
    transform: rotateZ(180deg);
    transform: rotateZ(-180deg);


    /* transform: rotate3d(1, 1, 1, 30deg); */
    /* transform: rotate3d(0, 1, 1, 30deg); */
    /* transform: rotate3d(1, 0, 1, 30deg); */
    /* transform: rotate3d(1, 1, 0, 30deg); */


    /* 
    first 1 => following X-axis
    second 1=>following Y-axis
    third 1=>following Z-axis
    */




    transform: rotateY(90deg);

    /* transform-origin: 0% 0%; */
    transform-origin: 0% 50%;
    /* transform-origin: 0% 100%; */


    /* transform-origin: 50% 0%; */
    transform-origin: 50% 50%;
    /* transform-origin: 50% 100%; */


    /* transform-origin: 100% 0%; */
    transform-origin: 100% 50%;
    /* transform-origin: 100% 100%; */




    transform: rotateX(90deg);

    /* transform-origin: 0% 0%; */
    transform-origin: 50% 0%;
    /* transform-origin: 100% 0%; */


    /* transform-origin: 0% 50%; */
    transform-origin: 50% 50%;
    /* transform-origin: 100% 50%; */

    /* transform-origin: 0% 100%; */
    transform-origin: 50% 100%;
    /* transform-origin: 100% 100%; */

}

.container:hover div {
    /* transform: rotateY(0deg); */
    transform: rotateX(0deg);
}