/* Using only grid-area */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container>div {
    background-color: white;
    border-bottom: 2px solid red;
    padding: 10px;
}

.container>div span:first-of-type {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.container>div span:last-of-type {
    color: gray;
}

.container>div p:first-of-type {
    font-weight: bold;
}

.container>div:nth-child(3),
.container>div:nth-child(5),
.container>div:nth-child(8) {
    background-color: black;
    color: white;
}

.container>div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.container>div:nth-child(3) {
    grid-area: 1 / 4 / 4 / 5;
}

.container>div:nth-child(4) {
    grid-area: 2 / 1 / 4 / 2;
}

.container>div:nth-child(5) {
    grid-area: 2 / 2 / 3 / 4;
}

.container>div:nth-child(6) {
    grid-area: 3 / 2 / 4 / 4;
}