/*
Property flex-grow  =>  nomow  dyal flex item au niveau dyal main axes 
    - default value is 0
*/

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.container .item {
    background-color: coral;
    padding: 20px;
    text-align: center;
    color: white;
    /* flex-grow: 0; */
    /* flex-grow: 1; */
}

/* .container .item:not(:last-of-type) {
    margin-right: 20px;
} */
.container .item1 {
    background-color: orange;
    flex-grow: 1;
}

.container .item2 {
    background-color: darkcyan;
    flex-grow: 3;
}

.container .item3 {
    background-color: red;
}

/* .container .item4 {
    background-color: blue;
} */