* {
    box-sizing: border-box;
}

.container>div {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.container>div>div {
    color: white;
    background-color: #ff69b4;
    padding: 20px;
    font-size: 30px;
    flex: 1;
    border-radius: 5px;
}

.container>div.parent-one>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container>div.parent-one>div:nth-child(1)>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container>div.parent-one>div:nth-child(1)>div>div {
    background-color: #ffc0cb;
    color: #ff69b4;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    flex: 1;
}