table {
    width: 90%;
    margin: auto;
    /* border: 1px solid #787878; */
    /* border-collapse: separate; */
    border-collapse: collapse;
    /* border-spacing: 0px; */
}

table td {
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #787878;
}

table thead td {
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: white;
    border-color: #4caf50;
}