div {
    background-color: #d4d4d4;
    width: 320px;
    height: 60px;
    /* text-align: center; */
    line-height: 60px;
    margin: 60px auto;
    position: relative;
    padding-left: 25px;
}

/* method one */
/* div span {
    display: inline-block;
    background-color: red;
    color: white;
    height: 50px;
    width: 35px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: calc(-35px / 2);
} */


/* method two */
div::first-letter {
    font-size: 0px !important;

}

div::before {
    counter-increment: member-counter;
    content: counter(member-counter);
    position: absolute;
    background-color: red;
    color: white;
    height: 50px;
    width: 35px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    top: 5px;
    left: calc(-35px / 2);

}

/* method three */
/* div::first-letter {
    background-color: red;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: bold;
    font-size: 20px;
    font-weight: bold;
    margin-left: -114px;
    margin-right: 9px;

} */