div {
    padding: 10px;
    margin: 0 0 20px;
    border-width: 2px;
    border-color: red;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.solid {
    border-style: solid;
}

.double {
    border-style: double;
}

.none {
    border-style: none;
}

.hidden {
    border-style: hidden;
}

.mix {
    border-style: solid dashed dotted double;
}