/* 
Property Box-Shadow : H-Shadow , V-Shadow , Blur , Spread , Color
    Default value : 0 0 0 0 colorcurrent(color of element)
Property Text-Shadow : H-Shadow , V-Shadow , Blur , Color
    Default Value  : 0 0 0 currentcolor(color of element)
*/

.first-div {
    width: 400px;
    background-color: white;
    margin: 40px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
}

.first-div img {
    max-width: 100%;
}

.first-div p {
    text-align: center;
    padding: 20px;
}

.second-div {
    width: 200px;
    padding: 40px;
    text-align: center;
    margin: auto;
    background-color: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.second-div:hover {
    box-shadow: #03a9f4 0px 0px 5px 3px;
}

/* 
if not specify  color  ,color take default value is currentcolor(color of element)
*/
.first-paragraph {
    margin: 40px 0;
    /* color: red; */
    text-shadow: 2px 2px;

}

/* 
test-shadow:2px 2px => blur=0 , color= color of element
*/

.first-paragraph {
    margin: 40px 0;
    /* color: red; */
    text-shadow: 2px 2px red;

}

/* 
text-shadow: 2px 2px red; =W blur=0
*/
.first-paragraph {
    margin: 40px 0;
    /* color: red; */
    text-shadow: 2px 2px 5px red;

}

.second-paragraph {
    margin: 40px 0;
    color: white;
    text-shadow: 2px 2px 4px black;
}


.third-paragraph {
    font-size: 50px;
    font-weight: bold;
    width: 400px;
    margin: 40px auto;
    text-shadow: 3px 3px #e91e63,
        6px 6px #03a9f4,
        9px 9px #9c27b0;
}

.fourth-paragraph {
    font-size: 50px;
    font-weight: bold;
    width: 400px;
    margin: 40px auto;
    color: white;
    text-shadow: 1px 1px 2px black,
        0 0 25px blue,
        0 0 5px darkblue;
}

.fifth-paragraph {
    font-size: 50px;
    font-weight: bold;
    width: 500px;
    margin: 40px auto;
    color: yellow;
    text-shadow: -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;
}


/* 
- Property text-Shadow  used for add shadow to text
-syntx text-shadow: H-Shadwo , V-Shadow  , Blur , Color
- Default Value Of text-shadow: 0 0 0 currentcolor(color of element)
- Simple Shadow : text-shdaow : 2px 2px 5px red;
- Multiple Shadow : text-shadow : 3px 3px 0px red , 6px 6px 0px blue , 9px 9px 0px yellow ; 



*/