/* 
- Property Box-sizing : default value is box-sizing:content-box
- syntax box-sizing:[content-box, border-box]
bi nissba content-box padding and border kiytzad 3la  width content  et width total = width content + padding + border nafss chi bi nissba height 7ta howa
bi nissba border-box hnaya width ola height li 3titha kiyb9a fix tel que kiytn9ass man width content padding and border  bach yb9a width total fix howa li 3titha ana

*/
* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    background-color: #ddd;
    padding: 10px;
    margin: 60px auto;
}

.child {
    width: 290px;
    float: left;
    background-color: red;
    color: white;
    /* margin-right: 10px; */
    padding: 10px;
    border: 10px solid black;
    /* box-sizing: content-box; */

    height: 60px;
}

.clear {
    clear: both;
}