/* 

Gradient : linear-gradient => only work for property  background-image
    -syntax : background-image:linear-gradient(Direction || Angle , Color Stop 1 , Color Stop 2 ......)
    - For Direction : default value is to bottom
        - to top 
        - to bottom 
        - to right 
        - to left 
    - for Angle 
        - 0deg = to top 
        - 90deg = to right 
        - 180deg = to bottom 
        - 270deg = to left
    
*/
* {
    box-sizing: border-box;
}

.first-div {
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to bottom, red, green, blue);
    background-image: linear-gradient(to bottom, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);
    background-image: linear-gradient(to right, red, green, blue);
    background-image: linear-gradient(to right, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);

    /* Create Diagonal gradient  */
    background-image: linear-gradient(to top right, red, green, blue);
    background-image: linear-gradient(to top right, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);

    background-image: linear-gradient(to bottom right, red, green, blue);
    background-image: linear-gradient(to bottom right, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);
    background-image: linear-gradient(to bottom left, red, green, blue);
    background-image: linear-gradient(to bottom left, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);
    background-image: linear-gradient(to top left, red, green, blue);
    background-image: linear-gradient(to top left, red 0%, red 20%, green 20%, green 60%, blue 60%, blue 100%);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), red);
    background-image: repeating-linear-gradient(to bottom, red, yellow 10%, green 20%);
    background-image: repeating-linear-gradient(45deg, red, yellow 10%, green 20%);
    background-image: repeating-linear-gradient(190deg, red, yellow 10%, green 20%);
    background-image: repeating-linear-gradient(90deg, red, yellow 10%, green 20%);

}