/* 
Gradient : linear-gradient work only with property background-image
    - syntax : background-image:linear-gradient(Direction || Angle, Color Stop 1 , Color Stop 2 , Color Stop 3 , ........)
    - for Direction : default value is to bottom
        - to right 
        - to left 
        - to bottom 
        - to top
    - for Angle :
        - 0deg = to top 
        - 90deg = to right 
        - 180deg = to bottom
        - 270deg = to left
*/
.first-div {
    width: 400px;
    height: 200px;
    /* background-image: linear-gradient(red, green, blue);
    background-image: linear-gradient(red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */

    /* background-image: linear-gradient(to right, red, green, blue);
    background-image: linear-gradient(to right, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */

    /* background-image: linear-gradient(to left, red, green, blue);
    background-image: linear-gradient(to left, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */

    /* background-image: linear-gradient(to top, red, green, blue);
    background-image: linear-gradient(to top, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */

    /* background-image: linear-gradient(to bottom, red, green, blue);
    background-image: linear-gradient(to bottom, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */


    /* background-image: linear-gradient(0deg, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */
    /* background-image: linear-gradient(90deg, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */
    /* background-image: linear-gradient(180deg, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */
    /* background-image: linear-gradient(270deg, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%); */

    /*  default value of dierction is  to bottom */
    background-image: linear-gradient(red, yellow);
    background-image: linear-gradient(to bottom, red, yellow);
    background-image: linear-gradient(to right, red, yellow);
    /* background-image: linear-gradient(to top right, red, green, blue); */
    background-image: linear-gradient(to top right, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%);
    background-image: linear-gradient(to bottom right, red, green, blue);
    background-image: linear-gradient(to bottom right, red 0%, red 33.333%, green 33.33%, green 66.66%, blue 66.66%, blue 100%);
    background-image: linear-gradient(to bottom left, red, green, blue);
    background-image: linear-gradient(to bottom left, red 0%, red, 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%);
    background-image: linear-gradient(to top left, red, green, blue);
    background-image: linear-gradient(to top left, red 0%, red 33.33%, green 33.33%, green 66.66%, blue 66.66%, blue 100%);
    background-image: linear-gradient(red 10%, green 85%, blue 90%);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), red);
    background-image: repeating-linear-gradient(to bottom, red 0%, red 10%, green 20%, yellow 30%);
    background-image: repeating-linear-gradient(to bottom, red 0%, red 10%, green 10%, green 20%, yellow 20%, yellow 30%);
}