.test {
    width: 1200px;
    height: 400px;
    overflow: hidden;
}

.test>img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.test:hover img {
    /* transform: scale(1.5);
    transform: rotate(5deg); */

    transform: scale(1.5) rotate(5deg);
    opacity: 0.8;
}