/* 
Css Variables :
    - Global Variables (Global Scope) = homa les variables  li 3andi acces 3lihom man ay blassa 
    - Local Variables (local Scope) = homa les variables li 3andi acces 3lihom sauf fi blassa li tcriyaw fiha
declaration :
    - --name-of-variabe:value;
usage:
    - var(name-of-variabe, fallback value);
*/
:root {
    --main-color: #2196f3;
    --main-padding: 15px;
}

div {
    background-color: var(--main-color, green);
    color: white;
    padding: var(--main-padding);
}

h2 {
    color: var(--main-color, green);
    background-color: #eee;
    padding: var(--main-padding);

}

p {
    border: 2px solid var(--main-color, green);
    color: var(--main-color, green);
    padding: calc(var(--main-padding) + 10px);
}

a:hover {
    color: var(--main-color, green);
}

.local {
    --local-color: red;
    /* background-color: var(--main-color, black); */
    background-color: var(--local-color, black);
    color: white;
}