/* Using grid-template-area  */
* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
}


.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header header header header header header header header header header header header"
        "section section section section section section section section section aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer footer footer ";
}

.layout header {
    background-color: #03a9f4;
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.layout header::before {
    content: "Header";
    color: white;
}

.layout section {
    background-color: #ff5722;
    grid-area: section;
    padding: 20px;
}

.layout section::before {
    content: "Section";
    color: white;
}

.layout aside {
    background-color: #607d8b;
    grid-area: aside;
    padding: 20px;
}

.layout aside::before {
    content: "Aside";
    color: white;
}

.layout footer {
    background-color: #009688;
    grid-area: footer;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.layout footer::before {
    content: "Footer";
    color: white;
}