/* Using grid-column and grid-row */
* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 50px;
}

.layout header {
    background-color: #03a9f4;
    display: flex;
    align-items: center;
    padding-left: 20px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
}

.layout header::before {
    content: "Header";
    color: white;
}

.layout section {
    background-color: #ff5722;
    padding: 20px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 9;
}

.layout section::before {
    content: "Section";
    color: white;
}

.layout aside {
    background-color: #607d8b;
    padding: 20px;
    grid-row: 2 / span 1;
    grid-column: 10 / span 3;
}

.layout aside::before {
    content: "Aside";
    color: white;
}

.layout footer {
    background-color: #009688;
    display: flex;
    align-items: center;
    padding-left: 20px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
}

.layout footer::before {
    content: "Footer";
    color: white;
}