* {
    box-sizing: border-box;
}

.one {
    max-width: 1000px;
    border: 1px solid red;
}

.two {
    max-width: 300px;
    border: 1px solid red;
}

video {
    width: 100%;
    height: auto;
}