div {
    width: 500px;
    margin: auto;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}


.assign-1-shape-1 {
    background-color: #8a2be2;
    background-color: rgb(138, 43, 226);
    background-color: hsl(271, 76%, 53%);
    background-color: blueviolet;
}

.assign-1-shape-2 {
    background-color: rgba(137, 43, 226, 0.5);
}

.assign-1-shape-3 {
    background-color: rgba(137, 43, 226, 0.1);
}