* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    border: 1px solid red;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
    left: 50%;
}

.parent::after {
    content: "";
    position: absolute;
    height: 1.7px;
    width: 100%;
    background-color: black;
    top: 50%;
}

.parent .child {
    background-color: blue;
    color: white;
    width: fit-content;
    padding: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}