* {
    box-sizing: border-box;
}

.container {
    background-color: #eee;
    border: 0.75em solid;
    padding: 0.75em;
    display: grid;
    gap: 10px;
    width: 200px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    grid-template-areas:
        "a a a"
        "b c c"
        "b c c";
    grid-template: "a a a"40px "b c c"40px "b c c"40px / 1fr 1fr 1fr;
    grid-template-columns: 20% 20px 1fr;
    grid-template-rows: auto 1em 1rem;
    grid-template-areas:
        "b b a"
        "b b c"
        "b b c"
    ;
    grid-template: "b b a"auto "b b c"1em "b b c"1rem / 20% 20px 1fr;
}

.container :nth-child(1) {
    background-color: rgba(0, 0, 255, .2);
    border: 3px solid #00f;
    grid-area: a;
}

.container :nth-child(2) {
    background-color: rgba(255, 0, 200, .2);
    border: 3px solid #663399;
    grid-area: b;
}

.container :nth-child(3) {
    background-color: rgba(94, 255, 0, .2);
    border: 3px solid green;
    grid-area: c;
}

/* grid-template: [header-top] "a a a"[header-bottom] [main-top] "b b b"1fr [main-bottom] / auto 1fr auto; */

.second-container {
    background-color: #eee;
    width: 800px;
    height: 400px;
    display: grid;
    gap: 5px;
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header header header header header header header header header header header header "
        "main main main main main main main main main aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    ; */
    grid-template: "header header header header header header header header header header header header "50px "main main main main main main main main main aside aside aside"1fr "footer footer footer footer footer footer footer footer footer footer footer footer"50px / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.second-container header {
    background-color: red;
    color: white;
    font-size: 20px;
    grid-area: header;
}

.second-container main {
    background-color: green;
    color: white;
    font-size: 20px;
    grid-area: main;
}

.second-container aside {
    background-color: orange;
    color: white;
    font-size: 20px;
    grid-area: aside;
}

.second-container footer {
    background-color: black;
    color: white;
    font-size: 20px;
    grid-area: footer;
}