/* 
align-self : alignement of specific grid item  au niveau dtal cell dyal fi la direction column
*/
* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: auto;
    background-color: blue;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container>div {
    background-color: red;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div:nth-child(3) {
    align-self: stretch;
    align-self: start;
    align-self: end;
    align-self: center;
}