/* 
 shorthand Property:
    - Negative values are not allowed.
    -inuts [px , % , em ,rem .....]
    - padding : [padding-top]+[padding-right]+[padding-bottom]+[padding-left]
    - padding:10px => padding:10px 10px 10px 10px
    - padding:10px 15px => padding:10px 15px 10px 15px
    - padding:10px 15px 20px => padding:10px 15px 20px 15px

*/

* {
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

.div-1 {
    background-color: dodgerblue;
    border: 2px solid red;
    color: white;
    /* padding: 70px;*/
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-bottom: 100px;
}

.div-2 {
    background-color: dodgerblue;
    border: 2px solid red;
    color: white;
    padding: 25px 50px 75px 100px;
}

.div-2 {
    background-color: dodgerblue;
    border: 2px solid red;
    color: white;
    padding: 25px 50px 75px;
    margin-bottom: 100px;
}

.div-3 {
    background-color: dodgerblue;
    color: white;
    width: 300px;
    padding: 0px 25px;
    margin-bottom: 20px;
}

.div-4 {
    background-color: red;
    width: 600px;
}

p {
    padding-left: 25%;
}