span {
    background-color: red;

}

div {
    padding: 10px;
    background-color: dodgerblue;
    margin: 0 0 40px;
}

.first-div {
    background-color: rgba(30, 143, 255, 0.45);
}

.second-div {
    opacity: 0.5;
}