/* 
first-letter  applied only of block level element
first-line  applied only of block level element
*/

.section-1 ::first-letter {
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

.section-2 p {
    width: 500px;
    line-height: 1.5;
}

.section-2 h2+p::first-letter {
    color: white;
    background-color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 0 red;
    font-size: 250%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}