div {
    background-color: #eeeeee;
    padding: 20px;
    width: 400px;
    margin: 40px auto;
}

.first-div {
    white-space: normal;
}

.second-div,
.fourth-div {
    white-space: nowrap;
    overflow: hidden;
}

.fourth-div {
    text-overflow: ellipsis;
}