h1 {
    font-family: "Times New Roman", Georgia, Garamond, serif;
}

p {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

div {
    font-family: "Courier New", "Lucida Console", Monospace;
}