/* 
fit-content : the box uses the available space but never expands more the max-content, and when the viewport is narrower,
the box never shrinks less the min-content
*/

.first-container {
    border: 2px solid red;
    padding: 20px;
}

.first-container>div {
    border: 2px solid blue;
    width: fit-content;
}

.second-container {
    height: 100px;
    display: grid;
    grid-template-columns: fit-content(200px) fit-content(250px) 1fr;
    grid-template-columns: fit-content(200px) fit-content(250px) 200px;
    gap: 10px;
    background-color: #eee;
    margin: 40px 0;
    padding: 10px;
}

.second-container>div {
    background-color: red;
    color: white;
}


/* 

fit-content( argument[lenght or percentage] )  : never expand more the specified width (argument) while also never going more the max-content. But,
when the viewport is narrower, the box can shrink to fit the content.
*/