* {
    box-sizing: border-box;
}

.container h2,
.container h3,
.container section {
    text-align: center;
}

.container .gallery {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0.5px solid #b4b4b4;
}

.container .gallery:hover {
    border-color: black;
}

.container .gallery>img {
    max-width: 100%;
    height: auto;
    border-radius: 3px 3px 0 0;
}

.container .gallery .info {
    text-align: center;
    padding: 10px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:601px) {

    .container h2,
    .container h3,
    .container section {
        text-align: left;
    }

    .container .gallery {
        width: calc((100% - 20px)/2);
        float: left;
    }

    .clear {
        clear: both;
    }

    .container .gallery:nth-of-type(1),
    .container .gallery:nth-of-type(3) {
        margin-right: 20px;
    }

}

@media(min-width:768px) {
    .container .gallery {
        width: calc((100% - 60px)/4);
    }

    .container .gallery:not(:nth-of-type(4)) {
        margin-right: 20px;
    }

}