* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container>div {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div:nth-child(2) {
    /* grid-row-start: 1; */
    grid-column-start: 1
}

.container>div:nth-child(1) {
    grid-column-start: 2;
}