/* 
Pseudo Elements

*/

* {
    box-sizing: border-box;
}

body {
    counter-reset: members-counter;
}

.parent {
    margin: 50px 0;

}

.parent .first-child {
    background-color: #eee;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    float: left;
    margin-right: 40px
}

.parent .second-child {
    width: calc(100% - 180px);
    height: 100px;
    background-color: #eee;
    float: left;
    padding: 20px;
    position: relative;
}

.clear {
    clear: both;
}

.parent .second-child:after {
    counter-increment: members-counter;
    content: counter(members-counter);
    position: absolute;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    right: -20px;
    top: calc(50% - 10px);
}

.parent .second-child::before {
    position: absolute;
    content: attr(data-text);
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: -40px;
    left: 0;
    display: none;
}

.parent .second-child .pipeline::before {
    position: absolute;
    content: "";
    border: 10px solid;
    border-color: red transparent transparent transparent;
    top: -10px;
    left: 25px;
    display: none;
}

.parent .second-child:hover::before,
.parent .second-child:hover .pipeline::before {
    display: block;
}