/* 
position absolute :
- hnaya element li mdair lih position absolute kiykhroj man workflow dyal page kiywala b7ala ghir mfloter fi page
-element kiyt7arak par rapport element parent dyalo 
o fi 7alat bghina npositioniw wa7ad child wasst parent dyalo darori parent dyalo khass ykoune position relative
*/

.first-div,
.second-div {
    padding: 10px;
    width: 100px;
    text-align: center;
    color: white;
}

.first-div {
    background-color: red;
    position: absolute;
    /* top: 0;
    left: 0; */
    /* top: 0;
    right: 0; */
    /* bottom: 0;
    left: 0; */
    bottom: 0;
    right: 0;
}

.second-div {
    background-color: blue;
}

.three-div {
    background-color: green;
    width: 100px;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.parent {
    width: 400px;
    height: 200px;
    margin: 60px auto;
    border: 2px solid black;
    position: relative;
}