* {
    box-sizing: border-box;
}

.one,
.two {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.one {
    background-color: #87ceeb;
}

.two {
    background-color: #ffc0cb;
    /* transform: scale(0.7, 0.7); */
    transform: scale(0.7);
}