* {
    box-sizing: border-box;
}

form {
    width: 800px;
    background-color: #f0f0f0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

form .form-group label {
    display: block;
    font-size: 20px;
}

form .form-group input,
form .form-group select {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 20px;
    caret-color: #b4b4b4;
}

form .form-group input[type="submit"] {
    color: white;
    background-color: rgba(76, 175, 79, 0.9);
    border: 1px solid rgba(76, 175, 79, 0.9);
    cursor: pointer;
}

form .form-group input[type="submit"]:hover {
    background-color: #4caf50;
}

form .form-group input[type="text"],
form .form-group select {
    border: 1px solid #b4b4b4;
}