* {
    box-sizing: border-box;
}

.first-div {
    margin-bottom: 40px;
}

.first-div a:link,
.first-div a:visited {
    text-decoration: none;
    display: inline-block;
    /* width: fit-content; */
    /* padding: 7px 20px; */
    width: 100px;
    padding: 7px;
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    text-align: center;
}

.first-div a:hover,
.first-div a:active {
    background-color: red;
}

.second-div {
    margin-bottom: 40px;
}

.second-div a:link,
.second-div a:visited {
    text-decoration: none;
    display: inline-block;
    /* width: fit-content; */
    /* padding: 7px 20px; */
    width: 100px;
    border: 1px solid green;
    color: black;
    padding: 7px;
    text-align: center;
}

.second-div a:hover,
.second-div a:active {
    background-color: green;
    color: white;
}