/* 
- justify-items : alignement of all grid items au niveau dyal cell fi la direction dyal row
- align-items : alignement of all grid items au niveau dyal cell fi la direction dyal column
*/

* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 300px;
    background-color: blue;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: stretch;
    align-items: start;
    align-items: end;
    align-items: center;
    /* align-items: baseline; */
}

.container>div {
    background-color: red;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}