div {
    background-color: dodgerblue;
    border: 1px solid red;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100px;

}

.div-1 {
    margin-bottom: 20px;
    /* margin-bottom: 40px; */
}

.div-2 {
    /* margin-top: 20px; */
    margin-top: 40px;
}