/* 
3D transform 
translate
    - transform:translateX() => translate element following X-axis
    - transform:translateY() => translate element following Y-axis
    - transform:translateZ() => translate element following Z-axis but is necessary to work add perspective property
    - transform:translate3d(value 1, value 2, value 3)
        - value 1 => X-axis
        - value 2 => Y-axis
        - value 3 => Z-axis
    - perspective : space between me and element and added to element parent , kolma kant value kbira rah kolma ana b3id man element o kolma kant sghira ya3ni ana 9rib man element
        - syntax : perspective :  value ;
    - perspective-origin is sumilar a transform-origin property  but not work if not exist property perspective  and added to element parent => origin of view
        - default value is perspective-origin:50% 50% ;
        - syntax : perspective-origin [lenght , percentage , keyword]
*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    background-color: gray;


    perspective: 300px;

    /* perspective-origin: 0% 0%;
    perspective-origin: left top; */


    /* perspective-origin: 100% 0%;
    perspective-origin: right top; */


    perspective-origin: center center;
    perspective-origin: 50% 50%;

    /* perspective-origin: 0% 100%;
    perspective-origin: left bottom; */


    /* perspective-origin: 100% 100%;
    perspective-origin: right bottom; */
}

.container>div {
    width: 90%;
    height: 90%;
    background-color: rgba(180, 180, 180, 0.5);
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;


    /* transform: translateX(50%); */
    /* transform: translateX(-50%); */


    /* transform: translateY(50%); */
    /* transform: translateY(-50%); */


    /* transform: translate(50%, 50%); */
    /* transform: translate(-50%, -50%); */


    /* transform: translateZ(200px); */
    /* transform: translateZ(-200px); */


    /* transform: translate3d(50%, 70px, 100px); */


    /* first value 50% => X-axis 
    second value 70px => Y-axis 
    third value 100px => Z-axis  */



    transform: translate3d(0, 0, 150px);

}