* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
}

div.first-div {
    width: 300px;
    height: 200px;
    justify-self: center;
    align-self: center;
    background-color: #eeeeee;
    color: #03a9f4;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.first-div::before,
div.first-div::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: rotate(5deg);
}

div.first-div::before {
    background-color: #e91e63;
    transform: rotate(5deg);
}

div.first-div::after {
    background-color: #03a9f4;
    transform: rotate(-5deg);
}