/* 

box-sizing = content-box => width total = 300 width + 10 padding-left + 10 padding-right + 10 border-left + 10 border-right = 340px

*/
div {
    background-color: #b4b4b4;
    width: 300px;
    padding: 10px;
    /* border: 10px solid red; */
    /* 
    for Property outline not exist  outline-top , outline-right , outline-bottom , outline-left only one outline 
    example : outline:2px solid red
    */
    /* border-style: solid dotted dashed solid; */
    /* outline-style: solid; */
    /* outline: 10px solid blue; */
    outline: 10px solid red;
    border: 10px solid blue;
}