div {
    background-color: #f0f0f0;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    outline: 5px solid black;
}

.first-div {
    /* method one */

    border-top: 5px solid red;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid red;

    /* method two */

    border-width: 5px;
    border-style: solid;
    border-color: red;

    /* method three */

    border: 5px solid red;
}

.second-div {
    /* method one */

    border-width: 5px;
    border-style: solid;
    border-color: blue green;

    /* method two */

    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
    border-right: 5px solid green;

}

.third-div {
    /* method one */

    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;

    /* method two */

    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5ps dashed yellow;
}