.links ul {
    list-style: none;
}

.links ul li {
    display: inline;
}

.links ul li a {
    text-decoration: none;
    color: dodgerblue;
}



div span {
    display: block;
    color: red;
}

.last-div a {
    display: block;
    color: green;
}

.special {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0 0 20px 0;
}

.second-div {
    /* visibility: visible; */
    visibility: hidden;
}

.third-div {
    display: none;
}