* {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.parent div {
    background-color: #009688;
    flex-basis: calc((100% - 40px)/3);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent .two {
    width: 50%;
    align-self: flex-start;
}