/* 
:first-child => ay element li howa furst child fi parent dyalo

*/
p:first-child {
    color: red;
}

p:last-child {
    color: blue;
}

ul {
    list-style: none;
    margin: 0;
}

ul li:first-child {
    color: dodgerblue;
}

ul li:last-child {
    color: #4caf50;
}

ul.links> :first-child {
    background-color: purple;
    color: white;
    font-size: 20px;
}

ul.links> :last-child {
    background-color: tomato;
    color: white;
    font-size: 20px;
}

ul.links-3 {
    color: blue;
}

ul.links-3 li:first-child {
    color: red;
}

ul.links-3 li:last-child {
    color: palegreen;
}