.parent {
    background-color: #f2f2f4;
    width: 400px;
    margin: 60px auto 0;
    height: 200px;
    padding: 20px;
    text-align: center;
    transition: margin-top 0.5s 0s linear;
    -webkit-transition: margin-top 0.5s 0s linear;
    -moz-transition: margin-top 0.5s 0s linear;
    -ms-transition: margin-top 0.5s 0s linear;
    -o-transition: margin-top 0.5s 0s linear;
}

.parent:hover,
.parent:hover .child {
    margin-top: 40px;
}

.child {
    background-color: #dededc;
    padding: 20px;
    margin-top: 20px;
    transition: margin-top 0.5s 0.5s linear;
    -webkit-transition: margin-top 0.5s 0.5s linear;
    -moz-transition: margin-top 0.5s 0.5s linear;
    -ms-transition: margin-top 0.5s 0.5s linear;
    -o-transition: margin-top 0.5s 0.5s linear;
}