* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer,
header {
    background-color: #9acd32;
    flex-basis: 20vh;
}

main {
    flex: 1;
    display: flex;
}

nav,
aside {
    background-color: #f5f5dc;
    flex: 1;
}

article {
    background-color: white;
    flex: 3;
}

header,
nav,
aside,
article,
footer {
    padding: 20px;
}

/* Method Two */

/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer,
header {
    background-color: #9acd32;
    flex-basis: 20vh;
}

main {
    flex: 1;
    display: flex;
}

nav,
aside {
    background-color: #f5f5dc;
    flex-basis: 20vw;
}

article {
    background-color: white;
    flex: 1;
}

header,
nav,
aside,
article,
footer {
    padding: 20px;
} */