* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

nav {
    background-color: #d7e8d4;
    flex-basis: 18vw;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header,
footer {
    background-color: #9acd32;
    flex-basis: 20vh;
}

main {
    flex: 1;
    display: flex;
}

article {
    background-color: #ffffff;
    flex: 3;
}

aside {
    background-color: #f5f5dc;
    flex: 1;
}

nav,
header,
footer,
article,
aside,
footer {
    padding: 20px;
}