html {
    font-size: 20px;
}

/* 
50px = 2.5 x 20px  => 2.5rem
*/
.first-div {
    font-size: 2.5rem;
}

/* 
40px = 2 x 20px  => 2rem
*/
.second-div {
    font-size: 2rem;
}

/* 
30px =  1.5 x 20px => 1.5rem
*/
.third-div {
    font-size: 1.5rem;
}