/* Method one */
/* .first-div {
    background-color: red;
    color: white;
    padding: 5px;
    display: inline-block;
} */

/* Method Two */
.first-div {
    background-color: red;
    color: white;
    padding: 5px;
    width: fit-content;
}